# ======================
# Python / Venv / PyCharm
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
.env
.venv/
venv/
.idea/
.DS_Store

# ======================
# Streamlit / Cache
# ======================
.streamlit/
.cache/

# ======================
# EXCLUDE LARGE DATA FILES
# ======================
data/ONSPD_Centroids.csv
data/PCD_OA21_LSOA21_MSOA21_LAD_MAY25_UK_LU.csv
data/postcode_to_lad.csv
data/PopulationStatsByLADDetail_merged.csv
data/LAD_MAY_2025_UK_BGC_V2_1110015208521213948.csv
data/PopulationStatsByLADDetail.csv
data/HomeCareAgencies_data (08-09-2025)(ALL_CQC_RATINGS)_postcodes.csv
data/HomeCareAgencies_data (08-09-2025)(ALL_RATINGS)_postcodes.csv
data/HomeCareAgencies_data (08-09-2025)(ALL_RATINGS).csv
data/*large*.csv

# Block all other CSVs by default
data/*.csv

# Still allow small files
!data/*.geojson

# But explicitly allow the specific ones we need:
!data/postcode_centroids_small.csv
!data/PopulationStatsByLADDetail_aggregated.csv
!data/HomeCareAgencies_data (08-09-2025)(ALL_CQC_RATINGS)_postcodes.csv
!data/HomeCareAgencies_data (08-09-2025)(ALL_CQC_RATINGS)_LAD_CQC_counts.csv
!data/Local_Authority_District_to_Region_(December_2023)_Lookup_in_England.csv
!data/Local_Authority_District_to_County_and_Unitary_Authority_(April_2023)_Lookup_in_EW.csv

# ======================
# Remove temp excel files
# ======================
data/*.xlsx

# ======================
# Logs / misc
# ======================
logs/
*.log