# Core data packages
pandas==2.0.3
numpy==1.24.4
matplotlib==3.7.5
geopandas>=1.1.1   # allow modern version

# Web & dashboard
streamlit==1.40.1
folium==0.18.0
streamlit-folium==0.22.1

# Optional for nicer maps / geoprocessing
shapely>=2.0
pyproj>=3.5
fiona>=1.10